@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #1a1818;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.active {
    color: #15803D;
}